<%= simple_form_for(@walk) do |f| %>
	<ul>
	<% @walk.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>
  <div>
		<%= f.label :start_location, 'Start point' %><br />
		<%= f.input :start_location, input_html: { class: 'form-control' }, label: false %><br />
  </div>
  <div class='panel-body'>
    <%= f.label :end_location, 'End point' %><br />
    <%= f.input :end_location, input_html: { class: 'form-control' }, label: false %>
  </div>
		<%= f.submit "Submit", class: 'btn btn-info add-button' %>
<% end %>
