<h1>On your last walk you made distance of <%= @walk.distance %> km</h1>
<h1>Your summary distance in this week is <%= @this_week_walks_distance %> km</h1>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?&size=700x700&maptype=roadmap
&markers=color:yellow%7Clabel:A%7C#{@walk.start_location}&markers=color:%7Clabel:B%7C#{@walk.end_location}
&key=#{Rails.application.credentials[:google_maps_api_key]}" %>

<%= link_to 'Add new walk', new_walk_path %>
<%= link_to 'Show monthly statistics', walks_path %>
